@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Identity
@model IEnumerable<BlogOblig.Models.Entities.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                    <a asp-action="RedirectToBlog" asp-route-id="@item.BlogId">Vis blogg</a> |
                    <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                    <input id="subscribeBtn" type="button" onclick="subscribe(@item.BlogId)" value="Subscribe" /> 
                    <input id="unsubscribeBtn" type="button" onclick="unsubscribe(@item.BlogId)" value="Unsubscribe" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    function subscribe(id) {
        $.ajax({
            type: 'POST',
            url: '/Blogs/Subscribe/' + id,
            success: function() {
                alert("success");
            }
        });
    }

    function unsubscribe(id) {
        $.ajax({
            type: 'POST',
            url: '/Blogs/Unsubscribe/' + id,
            success: function() {
                alert("success");
            }
        });
    }
</script>