@using Microsoft.AspNetCore.Http
@using Microsoft.IdentityModel.JsonWebTokens
@model IEnumerable<BlogOblig.Models.ViewModel.SubscriptionViewModel>

@{
    ViewData["Title"] = "My Subscriptions";
}

<h1>My Subscriptions</h1>

@if (Model == null)
{
    <h2>
        No subscriptions
    </h2>
}

@if (Model != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Number of Posts
            </th>
            <th>
                Number of Comments
            </th>
            <th>
                Last Activity
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPosts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastActivity)
                </td>

            </tr>
        }
        </tbody>
    </table>
}

